<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818643918996-9u30jst9sdtc6fth8a15kpobpv6osbrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818643918996-9u30jst9sdtc6fth8a15kpobpv6osbrg</string>
	<key>API_KEY</key>
	<string>AIzaSyCiO2TwLUCDN878rWfhwrKtRAw7wUZsaBw</string>
	<key>GCM_SENDER_ID</key>
	<string>818643918996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mittudev.mymcps-helper.MyMCPS-Helper</string>
	<key>PROJECT_ID</key>
	<string>mymcps-helper-f17d0</string>
	<key>STORAGE_BUCKET</key>
	<string>mymcps-helper-f17d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:818643918996:ios:3d24127d540ba263</string>
	<key>DATABASE_URL</key>
	<string>https://mymcps-helper-f17d0.firebaseio.com</string>
</dict>
</plist>
